*{
    box-sizing: border-box;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body {
    background-image: url("./images/tim-mossholder-IQJbbw72PZc-unsplash.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    height: inherit;
}

form{
    color: white;
    margin-right: 30px;
}

.form-group input{
    width: 70%;
}

.content-container{
    margin-top: 20px;
}

.caption-container{
    margin-top: 30px;
}

.btn{
    margin-top: 20px;
    width: 200px;
}